* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Poppins', sans-serif;
    
}

/* Hover Effects
========================= 
*/
.home-text .btn:hover,
.about-info .btn:hover {
    color: white;
    background-color: #eaa023;
}


.feedback-container:hover {

}

/* Header Section
=====================
 */


 .header {
    position: fixed;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 16px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;

}

.logo img {
    width: 50px;
    height: 50px;
}

.logo-text,
.nav-menu {
    color: white;
}


/* Home Section
=======================
 */

 .home {
    height: 100vh;
    /* background: url(https://supershinwarirest.web.app/img/home-bg.jpg);
    background-position: center;*/
    background: linear-gradient(to left, #0e0d0db2, #0000009c), url(https://supershinwarirest.web.app/img/home-bg.jpg) no-repeat top center;
    background-size: cover; 
    
 }

 .home .home-text {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.home-text h1 {
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
 
.home-text p {
    font-family: 'Poppins', sans-serif;
    color: #c8c8c8;
    font-size: 24px;
    font-weight: 200;
}




 /* About Section
=======================
 */

 .about {
    background-color: #0c1023;
    /* height: 100vh; */
    height: fit-content;
    overflow: hidden;
    padding-bottom: 80px;
 }

.headings {
    text-align: center;
    padding-top: 40px;
}

 .headings h3 {
    font-family: 'Dancing Script', cursive;    
    color: #eaa023;
    font-size: 24px;
    font-weight: 200;
 }

 .headings h1 {
    font-family: 'Poppins', sans-serif;    
    color: white;
    font-size: 36px;
    font-weight: 600;
 }

.about-info {
    padding: 80px 0 0 0;
    line-height: 1.5em;
}


.about-info h2,
.about-info p {
    padding: 0 16px;
    margin-bottom: 24px;
}
 
.about-info h2 {
    color: white;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.3em
 }

 .about-info p {
    color: #c8c8c8;
    
 }

.home-text .btn,
.about-info .btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 28px;
    background-color: transparent;
    border-radius: 30px;
    font-weight: 500;
    transition: all 0.3s ease;
    font-size: 16px;
    cursor: pointer;
    font-family: inherit;
    color: #eaa023;
    line-height: 1.5;
    margin: 16px 0 0 16px;
    border: 2px solid #eaa023;
    /* padding: 0 16px; */
}



.image-container {
    width: 100%;
    margin-top: 40px;
    padding: 0 15px;
    position: relative;
}

.image-container img {
    width: 100%;
    border-radius: 12px;
    vertical-align: middle;
    min-width: 100%;
}




.image-container h3 {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-size: 1.7em;
    font-family: 'Dancing Script', cursive;
    z-index: 1;
}

.image-container .square {
    position: absolute;
    text-align: center;
    width: 75px;
    height: 75px;
    border: 2px solid #eaa023;
    left: 45%;
    top: 45%;
    z-index: 0;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}





 /* Menu Section
=======================
 */

 .menu {
    background-color: #0c1023;
    height: fit-content;
 }

 .menu .headings {
    padding-top: 80px;
    padding-bottom: 40px;
 }

 .menu-categories {
    margin-top: 28px;
    display: flex;
    color: white;
    justify-content: center;
    gap: 24px;
    font-size: 20px;
    margin-bottom: 32px;
}

.menu-categories div:first-child {
    color: #eaa023;
}

.item {
    /* margin: 8px; */
    /* padding-top: 16px; */
    padding: 20px 15px;
    display: flex;
    align-items: center;
    gap: 24px;
    /* justify-content: space-between; */
    position: relative;
    border-bottom: 1px dashed rgba(95, 95, 95, 0.558)
}

.item img{
    width: 72px;
    height: 72px;
}


.item-name {
    left: 0;
    color: white;
}

.item-price {
    color: #eaa023;
    margin-left: auto;
}

 /* FeedBack Section
=======================
 */

 .feedback {
    background-color: #0c1023;
    height: fit-content;
    margin: auto;
    padding: 16px;
 }


 .feedback .headings {
    padding-top: 80px;
    padding-bottom: 80px;
 }

 .feedback-container {
    border-radius: 12px;
    padding: 32px;
    border: 1px solid #c4c4c467;
    height: fit-content;
    width: 100%;
    margin-top: 28px;
 }


.fb-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fb-header .username {
    color: white;
    font-weight: 600;
}

.fb-header .user-image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 3px solid #eaa023;
}

.fb-body .review {
    color: #c8c8c8;
    max-width: 90%;
    margin: 15px 0;
}

.fb-body .ratings {
    color: #eaa023;
}

 /* Chefs Section
=======================
 */

 .chefs {
    padding-top: 64px;
    background-color: #0c1023;
    height: fit-content;
 }






 /* Media Queries
 ==========================
  */


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {



    
    .about-content {
        /* width: fit-content;  */
        margin: auto;
        width: fit-content;
        clear: both;
        /* background: gray;  */
    }

    .about-info {
        display: inline-block;
        width: 45%;
        height: 100%;
        float: left;
    }
    

    .about-image .image-container {
        display: inline-block;
        float: right;
        width: 45%;
        height: 100%;

    }

}



  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}